@inherits LayoutComponentBase
@inject NavigationManager Nav

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <main>
        <div class="max-w-xl mx-auto flex items-center gap-4 pt-8 px-4">
            @Body
        </div>
    </main>
</div>