@page "/Capitulos"
@using JaponesBlazor.Component


<div class="header-bar mb-8">
    <BackButton />
    <h1 class="titulo-centrado">📘 Capítulos</h1>
    <div class="header-bar-space"></div>
</div>

<div>
    <div class="max-w-xl mx-auto">

        <div class="flex flex-col gap-8">
            @foreach (var cap in capitulos)
            {
                <NavLink class="capitulo-card cursor-pointer transition-all" href="@($"Capitulo/{cap.Id}")">
                    <span class="capitulo-titulo">@cap.Titulo</span>
                </NavLink>
            }
        </div>
    </div>
</div>

@code {
    private List<CapituloModel> capitulos = new()
    {
        new CapituloModel { Id = 0, Titulo = "Todos los capítulos" },
        new CapituloModel { Id = 1, Titulo = "Capítulo 1" },
        new CapituloModel { Id = 2, Titulo = "Capítulo 2" },
        new CapituloModel { Id = 3, Titulo = "Capítulo 3" },
        new CapituloModel { Id = 4, Titulo = "Capítulo 4" },
        new CapituloModel { Id = 5, Titulo = "Capítulo 5" },
        new CapituloModel { Id = 6, Titulo = "Capítulo 6" },
        new CapituloModel { Id = 7, Titulo = "Capítulo 7" },
        new CapituloModel { Id = 8, Titulo = "Capítulo 8" },
        new CapituloModel { Id = 9, Titulo = "Capítulo 9" },
        new CapituloModel { Id = 10, Titulo = "Capítulo 10" }

    };
}
