@page "/"

<div>
    <div class="max-w-xl mx-auto">
        <h3 class="text-3xl font-extrabold text-sky-700 text-center mb-8 drop-shadow">Bienvenido a la app de japonés</h3>

        <div class="flex flex-col gap-8">
            <NavLink href="capitulos" class="capitulo-opcion">
                📘 Ver Capítulos
            </NavLink>
            <NavLink href="Practica/Seleccion" class="capitulo-opcion">
                📝 Practicar
            </NavLink>
        </div>
    </div>
</div>
