@page "/capitulo/{Id:int}/vocabulario"
@using JaponesBlazor.Component
@inject HttpClient Http

<div class="header-bar mb-8">
    <BackButton />
    <h1 class="titulo-centrado">📚 Vocabulario – Capítulo @Id</h1>
    <div class="header-bar-space"></div>
</div>

@if (Items is null)
{
    <p class="text-center text-gray-500">Cargando...</p>
}
else if (!Items.Any())
{
    <p class="text-center text-red-500">No se encontró vocabulario para este capítulo.</p>
}
else
{
    <ul class="max-w-xl mx-auto space-y-3">
        @foreach (var palabra in Items)
        {
            <li class="bg-yellow-50 p-4 rounded border shadow">
                <PlayJapanese Texto="@palabra.Japonés"/>
                <strong>@palabra.Japonés </strong> – @palabra.Español
            </li>
        }
    </ul>
}

@code {
    [Parameter]
    public int Id { get; set; }

    private List<VocabularioModel>? Items;

    protected override async Task OnInitializedAsync()
    {
        var all = await Http.GetFromJsonAsync<List<VocabularioModel>>("data/Vocabulario.json");
        Items = all?.Where(x => x.CapituloId == Id).ToList();
    }
}
